* {
  box-sizing: border-box;
}

body {
  background: url('https://images.unsplash.com/photo-1598857729092-0b11088559af?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzc2fHxiZWxhcnVzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
}

.square {
  width: 18px;
  height: 18px;
  background: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 2px rgb(41, 29, 29);
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}

.title {
  color: rgb(90, 64, 241);
  font-family: 'Pacifico', cursive;
  text-shadow: 0 0 2px rgb(0, 26, 255), 0 0 10px #ee14ca;
  font-size: 3em;
}